:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
  overflow: hidden;
  scrollbar-width: none;

  scrollbar-width: none;
  overscroll-behavior: none;
  overflow: hidden; 
}


#app {
  margin: 0 auto;
  text-align: center;
  perspective: 480px;
}


#time {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 8rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.dot-separator {
  display: inline-block;
  width: 4rem;
}

.time-segment {
  display: inline-block;
  width: 8rem;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
}